{% extends 'fleetcore/base.html' %}

{% block html-title %}Home - {{ block.super }}{% endblock %}

{% block extra-head %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/flotr2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/charts.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var container_id = 'minutes';
            var d1 = [], d2 = [];
            {% for consumption in consumptions %}
                d1.push([{{ consumption.bill.billing_date.month }}, {{ consumption.used_min|floatformat:1 }}]);
                d2.push([{{ consumption.bill.billing_date.month }}, {{ consumption.penalty_min|floatformat:1 }}]);
            {% endfor %}
            consumption_chart(container_id, 'Minutes', d1, d2);

            var container_id = 'sms';
            var d1 = [], d2 = [];
            {% for consumption in consumptions %}
                d1.push([{{ consumption.bill.billing_date.month }}, {{ consumption.sms }}]);
                d2.push([{{ consumption.bill.billing_date.month }}, {{ consumption.penalty_sms }}]);
            {% endfor %}
            consumption_chart(container_id, 'SMS', d1, d2);
        });
    </script>
{% endblock %}

{% block content %}
    <h1>{{ current_user.get_full_name }}
    {% ifnotequal current_user user %}
        <small><a href="javascript:history.back()">[back]</a></small>
    {% endifnotequal %}
    </h1>

    {% with current_user.phone_set.latest as phone%}
    {% if phone %}
    <h4>User information</h4>
    {% with current_user.get_profile.leader as leader %}
    <dl class="dl-horizontal">
        <dt>Phone Number</dt>
        <dd>{{ phone.number }}</dd>
        <dt>Plan</dt>
        <dd>{{ phone.current_plan }}</dd>
        {% if phone.data_pack %}
            <dt>Data pack</dt>
            <dd>{{ phone.data_pack }}</dd>
        {% endif %}
        {% if phone.sms_pack %}
            <dt>SMS pack</dt>
            <dd>{{ phone.sms_pack }}</dd>
        {% endif %}
        <dt>Leader</dt>
        <dd>{% firstof leader.get_full_name leader.username %}</dd>
    </dl>
    {% endwith %}
    {% endif %}
    {% endwith %}

    {% if current_user.leadering.count %}
    <h4>Leadering</h4>
    <ul>
        {% for profile in current_user.leadering.all %}
            <li><a href="{% url 'user-details' profile.user.username %}">{{ profile.user.get_full_name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if consumptions %}
    <h4>Last consumption</h4>
    <dl class="dl-horizontal">
        <dt>Date</dt>
        <dd>{{ consumptions.0.bill.billing_date|date:"M Y" }}
            {% ifequal current_user user %}
                {% url 'consumption-history' as history_url %}
            {% else %}
                {% url 'user-consumption-history' current_user.username as history_url %}
            {% endifequal %}
            <br/><small><a href="{{ history_url }}">view full history</a></small>
        </dd>
        <dt>Minutes</dt>
        <dd>{{ consumptions.0.used_min }}
            {% if consumptions.0.penalty_min %}(+{{ consumptions.0.penalty_min }}){% endif %}
        </dd>
        <dt>SMS</dt>
        <dd>{{ consumptions.0.sms }}
            {% if consumptions.0.penalty_sms %}(+{{ consumptions.0.penalty_sms }}){% endif %}
        </dd>
        <dt>Total</dt>
        <dd>${{ consumptions.0.total|floatformat:'2' }}<dd>
    </dl>

    <h4>Last 12-month stats</h4>
    <div id="minutes" class="chart"></div>
    <div id="sms" class="chart"></div>

    {% endif %}

{% endblock %}

