{% extends 'base.html' %}

{% block html-title %}Home - {{ block.super }}{% endblock %}

{% block navbar-right-menu %}
    {% if user.is_superuser %}
        <li><a href="{% url admin:index %}">Admin</a></li>
    {% endif %}
    <li><a href="{% url logout %}">Logout</a></li>
{% endblock %}

{% block content %}
    <h1>{{ user.get_full_name }}</h1>

    {% if user.phone %}
    <h4>User information</h4>
    {% with user.get_profile.leader as leader %}
    <dl class="dl-horizontal">
        <dt>Phone Number</dt>
        <dd>{{ user.phone.number }}</dd>
        <dt>Plan</dt>
        <dd>{{ user.phone.plan }}</dd>
        {% if user.phone.data_pack %}
            <dt>Data pack</dt>
            <dd>{{ user.phone.data_pack }}</dd>
        {% endif %}
        {% if user.phone.sms_pack %}
            <dt>SMS pack</dt>
            <dd>{{ user.phone.sms_pack }}</dd>
        {% endif %}
        <dt>Leader</dt>
        <dd>{% firstof leader.get_full_name leader.username %}</dd>
    </dl>
    {% endwith %}
    {% endif %}

    {% if user.leadering.count %}
    <h4>Leadering</h4>
    <ul>
        {% for profile in user.leadering.all %}
            <li>{{ profile.user.get_full_name }}</li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}
